In [1]:
import pandas as pd

In [20]:
total_costs = pd.ExcelFile('./data/data-consolidated.xlsx')

student_incomes = pd.ExcelFile('./data/mean-median-student-income.xlsx').parse('Columbia')
inflation_ratios = student_incomes[['year', 'inflation ratio']]

## Income stuff

In [44]:
# Median income in 2018 dollars for US and Columbia
us_income = total_costs.parse('US Trends').rename(
    columns={'Year': 'year', 'Median Income \n(in 2018 dollars)': 'income'}
)[[ 'year', 'income' ]]
columbia_income = student_incomes.rename(columns={'median - 2018 $': 'income'})[[ 'year', 'income' ]]

In [63]:
entity_incomes = [
    {'entity': 'United States', 'year': int(row['year']), 'income': int(row['income'])}
    for _, row in us_income.iterrows()
] + [
    {'entity': 'Columbia', 'year': int(row['year']), 'income': int(round(row['income']))}
    for _, row in columbia_income.iterrows()
]
entity_incomes

[{'entity': 'United States', 'year': 2018, 'income': 63572},
 {'entity': 'United States', 'year': 2017, 'income': 62846},
 {'entity': 'United States', 'year': 2016, 'income': 61894},
 {'entity': 'United States', 'year': 2015, 'income': 60236},
 {'entity': 'United States', 'year': 2014, 'income': 57377},
 {'entity': 'United States', 'year': 2013, 'income': 56492},
 {'entity': 'United States', 'year': 2012, 'income': 56077},
 {'entity': 'United States', 'year': 2011, 'income': 55769},
 {'entity': 'United States', 'year': 2010, 'income': 56748},
 {'entity': 'United States', 'year': 2009, 'income': 58115},
 {'entity': 'United States', 'year': 2008, 'income': 58611},
 {'entity': 'United States', 'year': 2007, 'income': 60664},
 {'entity': 'United States', 'year': 2006, 'income': 60205},
 {'entity': 'United States', 'year': 2005, 'income': 59679},
 {'entity': 'United States', 'year': 2004, 'income': 59182},
 {'entity': 'United States', 'year': 2003, 'income': 59655},
 {'entity': 'United States', 'year': 2002, 'income': 59909},
 {'entity': 'United States', 'year': 2001, 'income': 60608},
 {'entity': 'United States', 'year': 2000, 'income': 61755},
 {'entity': 'Columbia', 'year': 1997, 'income': 37312},
 {'entity': 'Columbia', 'year': 1998, 'income': 34698},
 {'entity': 'Columbia', 'year': 1999, 'income': 43313},
 {'entity': 'Columbia', 'year': 2000, 'income': 46383},
 {'entity': 'Columbia', 'year': 2001, 'income': 42620},
 {'entity': 'Columbia', 'year': 2002, 'income': 42797},
 {'entity': 'Columbia', 'year': 2003, 'income': 37491},
 {'entity': 'Columbia', 'year': 2004, 'income': 32125},
 {'entity': 'Columbia', 'year': 2005, 'income': 31224},
 {'entity': 'Columbia', 'year': 2006, 'income': 32324},
 {'entity': 'Columbia', 'year': 2007, 'income': 31235},
 {'entity': 'Columbia', 'year': 2008, 'income': 33713},
 {'entity': 'Columbia', 'year': 2009, 'income': 39442},
 {'entity': 'Columbia', 'year': 2010, 'income': 41515},
 {'entity': 'Columbia', 'year': 2011, 'income': 37203},
 {'entity': 'Columbia', 'year': 2012, 'income': 34023},
 {'entity': 'Columbia', 'year': 2013, 'income': 34421},
 {'entity': 'Columbia', 'year': 2014, 'income': 34614},
 {'entity': 'Columbia', 'year': 2015, 'income': 33562},
 {'entity': 'Columbia', 'year': 2016, 'income': 32380}]

## Get total costs for Ivies
**Right now unadjusted for inflation**

In [64]:
# The names of sheets in the excel file
ivies = ['Columbia', 'Brown', 'Cornell', 'Dartmouth', 'Harvard', 'Princeton', 'UPenn', 'Yale']

# Flatten the dataframes to: [ { school, year, cost } ]
school_costs = []
for ivy in ivies:
    sheet = total_costs.parse(ivy).rename(columns={'School Year (start)': 'year', 'School Year': 'year'})
    school_costs += [
        {'school': ivy, 'year': int(row['year']), 'cost': int(row['total cost'])}
        for _, row in sheet[['year', 'total cost']].iterrows()
    ]
school_costs

[{'school': 'Columbia', 'year': 2018, 'cost': 76856},
 {'school': 'Columbia', 'year': 2017, 'cost': 74199},
 {'school': 'Columbia', 'year': 2016, 'cost': 71785},
 {'school': 'Columbia', 'year': 2015, 'cost': 69084},
 {'school': 'Columbia', 'year': 2014, 'cost': 66604},
 {'school': 'Columbia', 'year': 2013, 'cost': 64144},
 {'school': 'Columbia', 'year': 2012, 'cost': 61540},
 {'school': 'Columbia', 'year': 2011, 'cost': 59208},
 {'school': 'Columbia', 'year': 2010, 'cost': 56681},
 {'school': 'Columbia', 'year': 2009, 'cost': 54294},
 {'school': 'Columbia', 'year': 2008, 'cost': 51406},
 {'school': 'Columbia', 'year': 2007, 'cost': 49260},
 {'school': 'Columbia', 'year': 2006, 'cost': 46874},
 {'school': 'Columbia', 'year': 2005, 'cost': 44646},
 {'school': 'Columbia', 'year': 2004, 'cost': 42598},
 {'school': 'Columbia', 'year': 2003, 'cost': 40140},
 {'school': 'Brown', 'year': 2018, 'cost': 73802},
 {'school': 'Brown', 'year': 2017, 'cost': 71050},
 {'school': 'Brown', 'year': 2016, 'cost': 68106},
 {'school': 'Brown', 'year': 2015, 'cost': 65380},
 {'school': 'Brown', 'year': 2014, 'cost': 62694},
 {'school': 'Brown', 'year': 2013, 'cost': 60460},
 {'school': 'Brown', 'year': 2012, 'cost': 58140},
 {'school': 'Brown', 'year': 2011, 'cost': 56150},
 {'school': 'Brown', 'year': 2010, 'cost': 54370},
 {'school': 'Brown', 'year': 2009, 'cost': 52030},
 {'school': 'Brown', 'year': 2008, 'cost': 50560},
 {'school': 'Brown', 'year': 2007, 'cost': 48660},
 {'school': 'Brown', 'year': 2006, 'cost': 46340},
 {'school': 'Brown', 'year': 2005, 'cost': 44280},
 {'school': 'Brown', 'year': 2004, 'cost': 41538},
 {'school': 'Brown', 'year': 2003, 'cost': 39602},
 {'school': 'Cornell', 'year': 2018, 'cost': 73904},
 {'school': 'Cornell', 'year': 2017, 'cost': 70321},
 {'school': 'Cornell', 'year': 2016, 'cost': 67613},
 {'school': 'Cornell', 'year': 2015, 'cost': 65494},
 {'school': 'Cornell', 'year': 2014, 'cost': 63606},
 {'school': 'Cornell', 'year': 2013, 'cost': 61618},
 {'school': 'Cornell', 'year': 2012, 'cost': 59591},
 {'school': 'Cornell', 'year': 2011, 'cost': 57125},
 {'school': 'Cornell', 'year': 2010, 'cost': 54676},
 {'school': 'Cornell', 'year': 2009, 'cost': 52414},
 {'school': 'Cornell', 'year': 2008, 'cost': 50384},
 {'school': 'Cornell', 'year': 2007, 'cost': 48151},
 {'school': 'Cornell', 'year': 2006, 'cost': 45877},
 {'school': 'Cornell', 'year': 2005, 'cost': 43827},
 {'school': 'Cornell', 'year': 2004, 'cost': 42049},
 {'school': 'Cornell', 'year': 2003, 'cost': 40274},
 {'school': 'Dartmouth', 'year': 2018, 'cost': 74359},
 {'school': 'Dartmouth', 'year': 2017, 'cost': 71827},
 {'school': 'Dartmouth', 'year': 2016, 'cost': 69474},
 {'school': 'Dartmouth', 'year': 2015, 'cost': 67044},
 {'school': 'Dartmouth', 'year': 2014, 'cost': 65133},
 {'school': 'Dartmouth', 'year': 2013, 'cost': 63279},
 {'school': 'Dartmouth', 'year': 2012, 'cost': 61398},
 {'school': 'Dartmouth', 'year': 2011, 'cost': 58638},
 {'school': 'Dartmouth', 'year': 2010, 'cost': 55386},
 {'school': 'Dartmouth', 'year': 2009, 'cost': 52973},
 {'school': 'Dartmouth', 'year': 2008, 'cost': 50547},
 {'school': 'Dartmouth', 'year': 2007, 'cost': 48236},
 {'school': 'Dartmouth', 'year': 2006, 'cost': 45963},
 {'school': 'Dartmouth', 'year': 2005, 'cost': 43679},
 {'school': 'Dartmouth', 'year': 2004, 'cost': 41851},
 {'school': 'Dartmouth', 'year': 2003, 'cost': 39889},
 {'school': 'Harvard', 'year': 2018, 'cost': 71650},
 {'school': 'Harvard', 'year': 2017, 'cost': 69600},
 {'school': 'Harvard', 'year': 2016, 'cost': 66900},
 {'school': 'Harvard', 'year': 2015, 'cost': 64400},
 {'school': 'Harvard', 'year': 2014, 'cost': 62250},
 {'school': 'Harvard', 'year': 2013, 'cost': 59950},
 {'school': 'Harvard', 'year': 2012, 'cost': 57050},
 {'school': 'Harvard', 'year': 2011, 'cost': 56000},
 {'school': 'Harvard', 'year': 2010, 'cost': 53950},
 {'school': 'Harvard', 'year': 2009, 'cost': 52000},
 {'school': 'Harvard', 'year': 2008, 'cost': 50250},
 {'school': 'Harvard', 'year': 2007, 'cost': 48550},
 {'school': 'Harvard', 'year': 2006, 'cost': 46450},
 {'school': 'Harvard', 'year': 2005, 'cost': 44350},
 {'school': 'Harvard', 'year': 2004, 'cost': 42450},
 {'school': 'Harvard', 'year': 2003, 'cost': 40450},
 {'school': 'Princeton', 'year': 2018, 'cost': 70900},
 {'school': 'Princeton', 'year': 2017, 'cost': 66150},
 {'school': 'Princeton', 'year': 2016, 'cost': 63690},
 {'school': 'Princeton', 'year': 2015, 'cost': 61160},
 {'school': 'Princeton', 'year': 2014, 'cost': 58965},
 {'school': 'Princeton', 'year': 2013, 'cost': 55832},
 {'school': 'Princeton', 'year': 2012, 'cost': 54780},
 {'school': 'Princeton', 'year': 2011, 'cost': 53934},
 {'school': 'Princeton', 'year': 2010, 'cost': 52715},
 {'school': 'Princeton', 'year': 2009, 'cost': 51260},
 {'school': 'Princeton', 'year': 2008, 'cost': 49830},
 {'school': 'Princeton', 'year': 2007, 'cost': 47975},
 {'school': 'Princeton', 'year': 2006, 'cost': 46080},
 {'school': 'Princeton', 'year': 2005, 'cost': 43826},
 {'school': 'Princeton', 'year': 2004, 'cost': 41910},
 {'school': 'Princeton', 'year': 2003, 'cost': 40170},
 {'school': 'UPenn', 'year': 2018, 'cost': 74408},
 {'school': 'UPenn', 'year': 2017, 'cost': 71715},
 {'school': 'UPenn', 'year': 2016, 'cost': 69340},
 {'school': 'UPenn', 'year': 2015, 'cost': 66800},
 {'school': 'UPenn', 'year': 2014, 'cost': 64200},
 {'school': 'UPenn', 'year': 2013, 'cost': 61800},
 {'school': 'UPenn', 'year': 2012, 'cost': 59600},
 {'school': 'UPenn', 'year': 2011, 'cost': 57360},
 {'school': 'UPenn', 'year': 2010, 'cost': 55250},
 {'school': 'UPenn', 'year': 2009, 'cost': 53250},
 {'school': 'UPenn', 'year': 2008, 'cost': 51299},
 {'school': 'UPenn', 'year': 2007, 'cost': 49080},
 {'school': 'UPenn', 'year': 2006, 'cost': 46580},
 {'school': 'UPenn', 'year': 2005, 'cost': 44300},
 {'school': 'UPenn', 'year': 2004, 'cost': 42100},
 {'school': 'UPenn', 'year': 2003, 'cost': 40370},
 {'school': 'Yale', 'year': 2018, 'cost': 73900},
 {'school': 'Yale', 'year': 2017, 'cost': 71290},
 {'school': 'Yale', 'year': 2016, 'cost': 68950},
 {'school': 'Yale', 'year': 2015, 'cost': 66445},
 {'school': 'Yale', 'year': 2014, 'cost': 63970},
 {'school': 'Yale', 'year': 2013, 'cost': 61620},
 {'school': 'Yale', 'year': 2012, 'cost': 59320},
 {'school': 'Yale', 'year': 2011, 'cost': 58250},
 {'school': 'Yale', 'year': 2010, 'cost': 55300},
 {'school': 'Yale', 'year': 2009, 'cost': 52950},
 {'school': 'Yale', 'year': 2008, 'cost': 51400},
 {'school': 'Yale', 'year': 2007, 'cost': 50350},
 {'school': 'Yale', 'year': 2006, 'cost': 48250},
 {'school': 'Yale', 'year': 2005, 'cost': 44200},
 {'school': 'Yale', 'year': 2004, 'cost': 41970},
 {'school': 'Yale', 'year': 2003, 'cost': 41720}]

## Generate outputs

In [67]:
import json

with open('./outputs/school-costs.json', 'w') as f:
    json.dump(school_costs, f)
with open('./outputs/incomes.json', 'w') as f:
    json.dump(entity_incomes, f)