In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
total_costs = pd.ExcelFile('../data/Data - Consolidated.xlsx')

student_incomes = pd.ExcelFile('../data/mean-median-student-income.xlsx').parse('Columbia')
inflation_ratios = student_incomes[['year', 'inflation ratio']]

## Median US Income

In [3]:
# Median income in 2018 dollars for US
columnRenames = {
    'Year': 'year',
    'Median Income \n(in 2018 dollars)': 'income',
    'private (2018 dollars)': 'cost'
}
national_data_df = total_costs.parse('US Trends').rename(
    columns=columnRenames
)[columnRenames.values()]

In [4]:
national_data = []
for _, row in national_data_df.iterrows():
    d = {}
    for k in ['year', 'income', 'cost']:
        val = float(row[k]) if k == 'cost' else int(row[k])
        if np.isnan(val):
            continue
        d[k]= val
    national_data.append(d)
national_data = sorted(national_data, key=lambda d: d['year'])

## Get total costs for Ivies
**Right now unadjusted for inflation**

In [5]:
# The names of sheets in the excel file
ivies = ['Columbia', 'Brown', 'Cornell', 'Dartmouth', 'Harvard', 'Princeton', 'UPenn', 'Yale']

# Flatten the dataframes to: [ { school, year, cost } ]
school_costs = []
for ivy in ivies:
    sheet = total_costs.parse(ivy).rename(columns={'School Year (start)': 'year', 'School Year': 'year'})
    school_costs.append({
        'school': ivy,
        'data': sorted([
            {'year': int(row['year']), 'cost': int(row['total cost'])}
            for _, row in sheet[['year', 'total cost']].iterrows()
        ], key=lambda d: d['year'])
    })
'''
school_costs = {'series': []}
for ivy in ivies:
    sheet = total_costs.parse(ivy).rename(columns={'School Year (start)': 'year', 'School Year': 'year'})
    school_costs['years'] = [int(row['year'])
            for _, row in sheet[['year', 'total cost']].iterrows()]
    school_costs['series'].append({
        'school': ivy,
        'values': [int(row['total cost'])
            for _, row in sheet[['year', 'total cost']].iterrows()],
    })
'''
school_costs

[{'school': 'Columbia',
  'data': [{'year': 2003, 'cost': 40140},
   {'year': 2004, 'cost': 42598},
   {'year': 2005, 'cost': 44646},
   {'year': 2006, 'cost': 46874},
   {'year': 2007, 'cost': 49260},
   {'year': 2008, 'cost': 51406},
   {'year': 2009, 'cost': 54294},
   {'year': 2010, 'cost': 56681},
   {'year': 2011, 'cost': 59208},
   {'year': 2012, 'cost': 61540},
   {'year': 2013, 'cost': 64144},
   {'year': 2014, 'cost': 66604},
   {'year': 2015, 'cost': 69084},
   {'year': 2016, 'cost': 71785},
   {'year': 2017, 'cost': 74199},
   {'year': 2018, 'cost': 76856}]},
 {'school': 'Brown',
  'data': [{'year': 2003, 'cost': 39602},
   {'year': 2004, 'cost': 41538},
   {'year': 2005, 'cost': 44280},
   {'year': 2006, 'cost': 46340},
   {'year': 2007, 'cost': 48660},
   {'year': 2008, 'cost': 50560},
   {'year': 2009, 'cost': 52030},
   {'year': 2010, 'cost': 54370},
   {'year': 2011, 'cost': 56150},
   {'year': 2012, 'cost': 58140},
   {'year': 2013, 'cost': 60460},
   {'year': 2014, 'cost': 62694},
   {'year': 2015, 'cost': 65380},
   {'year': 2016, 'cost': 68106},
   {'year': 2017, 'cost': 71050},
   {'year': 2018, 'cost': 73802}]},
 {'school': 'Cornell',
  'data': [{'year': 2003, 'cost': 40274},
   {'year': 2004, 'cost': 42049},
   {'year': 2005, 'cost': 43827},
   {'year': 2006, 'cost': 45877},
   {'year': 2007, 'cost': 48151},
   {'year': 2008, 'cost': 50384},
   {'year': 2009, 'cost': 52414},
   {'year': 2010, 'cost': 54676},
   {'year': 2011, 'cost': 57125},
   {'year': 2012, 'cost': 59591},
   {'year': 2013, 'cost': 61618},
   {'year': 2014, 'cost': 63606},
   {'year': 2015, 'cost': 65494},
   {'year': 2016, 'cost': 67613},
   {'year': 2017, 'cost': 70321},
   {'year': 2018, 'cost': 73904}]},
 {'school': 'Dartmouth',
  'data': [{'year': 2003, 'cost': 39889},
   {'year': 2004, 'cost': 41851},
   {'year': 2005, 'cost': 43679},
   {'year': 2006, 'cost': 45963},
   {'year': 2007, 'cost': 48236},
   {'year': 2008, 'cost': 50547},
   {'year': 2009, 'cost': 52973},
   {'year': 2010, 'cost': 55386},
   {'year': 2011, 'cost': 58638},
   {'year': 2012, 'cost': 61398},
   {'year': 2013, 'cost': 63279},
   {'year': 2014, 'cost': 65133},
   {'year': 2015, 'cost': 67044},
   {'year': 2016, 'cost': 69474},
   {'year': 2017, 'cost': 71827},
   {'year': 2018, 'cost': 74359}]},
 {'school': 'Harvard',
  'data': [{'year': 2003, 'cost': 40450},
   {'year': 2004, 'cost': 42450},
   {'year': 2005, 'cost': 44350},
   {'year': 2006, 'cost': 46450},
   {'year': 2007, 'cost': 48550},
   {'year': 2008, 'cost': 50250},
   {'year': 2009, 'cost': 52000},
   {'year': 2010, 'cost': 53950},
   {'year': 2011, 'cost': 56000},
   {'year': 2012, 'cost': 57050},
   {'year': 2013, 'cost': 59950},
   {'year': 2014, 'cost': 62250},
   {'year': 2015, 'cost': 64400},
   {'year': 2016, 'cost': 66900},
   {'year': 2017, 'cost': 69600},
   {'year': 2018, 'cost': 71650}]},
 {'school': 'Princeton',
  'data': [{'year': 2003, 'cost': 40170},
   {'year': 2004, 'cost': 41910},
   {'year': 2005, 'cost': 43826},
   {'year': 2006, 'cost': 46080},
   {'year': 2007, 'cost': 47975},
   {'year': 2008, 'cost': 49830},
   {'year': 2009, 'cost': 51260},
   {'year': 2010, 'cost': 52715},
   {'year': 2011, 'cost': 53934},
   {'year': 2012, 'cost': 54780},
   {'year': 2013, 'cost': 55832},
   {'year': 2014, 'cost': 58965},
   {'year': 2015, 'cost': 61160},
   {'year': 2016, 'cost': 63690},
   {'year': 2017, 'cost': 66150},
   {'year': 2018, 'cost': 70900}]},
 {'school': 'UPenn',
  'data': [{'year': 2003, 'cost': 40370},
   {'year': 2004, 'cost': 42100},
   {'year': 2005, 'cost': 44300},
   {'year': 2006, 'cost': 46580},
   {'year': 2007, 'cost': 49080},
   {'year': 2008, 'cost': 51299},
   {'year': 2009, 'cost': 53250},
   {'year': 2010, 'cost': 55250},
   {'year': 2011, 'cost': 57360},
   {'year': 2012, 'cost': 59600},
   {'year': 2013, 'cost': 61800},
   {'year': 2014, 'cost': 64200},
   {'year': 2015, 'cost': 66800},
   {'year': 2016, 'cost': 69340},
   {'year': 2017, 'cost': 71715},
   {'year': 2018, 'cost': 74408}]},
 {'school': 'Yale',
  'data': [{'year': 2003, 'cost': 41720},
   {'year': 2004, 'cost': 41970},
   {'year': 2005, 'cost': 44200},
   {'year': 2006, 'cost': 48250},
   {'year': 2007, 'cost': 50350},
   {'year': 2008, 'cost': 51400},
   {'year': 2009, 'cost': 52950},
   {'year': 2010, 'cost': 55300},
   {'year': 2011, 'cost': 58250},
   {'year': 2012, 'cost': 59320},
   {'year': 2013, 'cost': 61620},
   {'year': 2014, 'cost': 63970},
   {'year': 2015, 'cost': 66445},
   {'year': 2016, 'cost': 68950},
   {'year': 2017, 'cost': 71290},
   {'year': 2018, 'cost': 73900}]}]

## Generate outputs

In [7]:
# writing outputsâ€¦
with open('../outputs/school-costs.json', 'w') as f:
    json.dump(school_costs, f)
with open('../outputs/us_incomes.json', 'w') as f:
    json.dump(national_data, f)

# â€¦but also  directly writing to the recession finaid repo lol
with open('../../recession-financial-aid/data/school-costs.json', 'w') as f:
    json.dump(school_costs, f, indent=2)
with open('../../recession-financial-aid/data/national-data.json', 'w') as f:
    json.dump(national_data, f, indent=2)